body {
	counter-reset: headnum;
}

ul, #numbered {
	border: 10px dashed lightblue;
	width: 75px;
}

li {
	list-style: lower-roman;
	margin-bottom: 8px;
}

ol {
	list-style-type: none;
}
li.num:before {
	content: "(" counter(section, upper-alpha) ") ";
}
li.num {
	counter-increment: section;
	list-style-type: none;
}

#fixed-pin  {
  position:fixed;
  top: 3px;
  right: 3px;
}
